div {
  font-size: 12px;
}

/*new*/

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 130px 0 0 0;
  padding: 0 20px 100px;
  height: 100%;
}

.block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-list h2 {
  color: #802045;
  width: 45%;
  font-size: 3vw;
}

.span-left {
  width: 2vw;
  height: 10vw;
  border-radius: 0 15px 15px 0;
  background-color: #802045;
  margin: 0 20px 0 0;
}
.span-right {
  width: 2vw;
  height: 10vw;
  border-radius: 15px 0 0 15px;
  background-color: #802045;
  margin: 0 20px;
}
.block-list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 50%;
  padding: 0 20px;
}

.block-list p {
  margin: 0;
}
.block-list p:hover {
  color: #fff !important;
  cursor: pointer;
}

/*---*/

.alpha a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  margin: 5px 0;
}

.alpha a:hover {
  color: #00b9b9;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;
  min-width: 900px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.Country_alpha {
  font-size: 24px;
}
.Country_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Country_Link {
  text-decoration: none;
  color: #ffffff;
  margin: 3px auto;
  font-weight: 400;
}

.box {
  height: 600px;
  border: 10px double #f8f0f2;
  border-radius: 15px;
  min-width: 900px;
  color: #f8f0f2;
  background-color: #802045;
  padding: 10px;
  margin: 0 auto;
}

.name {
  height: 70px;
  text-align: center;
  font-size: 30px;
  margin: 0;
  border-bottom: 5px dotted #ffffff;
}

.changeLang {
  border: 0;
  background-color: #00000000;
  position: absolute;
  top: 5px;
  right: 5px;
}

.changeLang:active {
  color: #00b9b9;
}

.change_C {
  margin: 0 auto;
}

.button_C {
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin: 30px 5px;
  background-color: #f8f0f2;
  color: #802045;
  font-weight: 900;
  cursor: pointer;
}

.button_link {
  color: #802045;
  font-weight: 900;
}

.button_C:hover {
  background-color: #802045;
  color: #f8f0f2;
}
.button_C:hover .button_link {
  color: #f8f0f2;
}
