.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: 100px auto;
  white-space: pre-wrap;
}

.container {
  padding: 30px;
  margin: 0 auto;
  border-radius: 15px;
}

.country-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.country-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.country-name p {
  padding: 5px 30px;
  margin: 0;
  font-size: 5rem;
  font-weight: 1000;
}

.country-alarm {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 50px;
  margin: 0 20px;
  background-color: #032b2f;
  border-radius: 30px;
}

.country-alarm p {
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.country-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*----Map----*/

.mainimage {
  width: 1200px;
  height: 600px;
  margin: 20px 0;
  cursor: pointer;
  border: 5px solid #032b2f;
  border-radius: 30px;
}

.mainimagebox {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  border-radius: 30px;
}

.imagebox {
  width: 200px;
  height: 100px;
}

.imagebox:hover {
  -webkit-filter: sepia(50%) grayscale(50%);
  filter: sepia(50%) grayscale(50%);
}

.popup_window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99;
}
.popup_img {
  max-width: 1000px;
  max-height: 1000px;
  -o-object-fit: contain;
  object-fit: contain;
}
.popup_button {
  margin: 10px 0;
  border: 0;
  color: #ffffff;
  background-color: #00000000;
}
.popup_button:hover {
  font-weight: bold;
}
.popup_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

/*----Alarm----*/

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px auto;
}

.country-flag {
  width: 500px;
  height: 300px;
}

.country-flag img {
  width: inherit;
  height: inherit;
}

.info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  list-style: none;
}

.info_box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.info_box li p {
  width: 100%;
}

.info_name {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #08708a;
}

.info_data {
  width: 150px;
  padding: 0 5px;
  font-size: 1rem;
}

/*----City----*/

.country-city {
  margin: 20px auto;
}

.country-city h1 {
  margin: 40px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 0;
  color: #d73a31;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 10vh;
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
}

.city-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.city-table img {
  height: 100%;
  width: 100%;
}

.city-table table {
  margin: 40px auto;
}
.city-table h3 {
  position: absolute;
  bottom: 0;
  right: 1vw;
  color: #fff;
  font-size: 1.5vw;
}

.city-table td {
  position: relative;
  width: 400px;
  height: 250px;
  padding: 0;
}

.city-table td span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  z-index: 80;
}

.city-table td span div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}

.city-table td span div:first-child {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.city-table td span hr {
  margin: 20px 0;
}

.city-table td span h2 {
  margin: 0 20px;
  /* color: var(--color-tomato); */
  color: #56b1bf;
  font-size: 2vw;
  text-align: end;
}

.city-table td span p {
  margin: 0 20px;
  color: #fff;
  font-size: 1vw;
}

.city-table td:hover span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*----Exchange----*/

.exchange-box {
  width: 350px;
  margin: 20px auto;
  text-align: center;
  line-height: 250%;
}

.exchange-box h2 {
  position: relative;
}

.exchange-box h2::after {
  position: absolute;
  top: 105%;
  left: 50%;
  font-size: 0.5rem;
  content: "(기준 : 2023-02-07)";
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.exchange-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  font-size: 1rem;
  font-weight: 700;
}

.exchange-box span {
  width: 50%;
  color: var(--color-tomato);
}

input[type="text"] {
  border: 0;
  font-weight: 700;
  color: var(--color-hunter);
  background-color: #00000000;
  text-align: center;
}

input[type="text"]:focus {
  outline: none;
}
/*---------------*/

/*----여행경보----*/

.alarmdetail {
  width: 15vw;
  margin: 20px auto;
  text-align: center;
}

.alarmdetail img {
  width: inherit;
  height: 20vh;
}

.alarmdetail p {
  padding: 10px;
}
/*---------------*/
