.container {
  padding: 6% 0 60px;
  height: 100%;
}

/*-----FrontImage------*/

.block-first-img {
  position: relative;
  height: 80vh;
  width: 80%;
  background-color: #802045;
  margin: 1% auto;
}

.block-first-img img {
  width: 100%;
  height: inherit;
}

.block-first-img ul {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
}

.block-first-img ol {
  text-align: center;
  width: 50px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
}

.block-first-img ol:hover {
  font-weight: 1000;
}

.block-first-img p {
  margin: 40px 0;
}

.block-first-img p:nth-child(2) {
  display: none;
}

/*------------------*/

/*-----Recommend------*/

.block-second {
  margin: 30px 0;
}

.block-second ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.block-second ol {
  position: relative;
  width: 150px;
  height: 25vh;
  margin: 20px 2%;
  padding: 0 1vw;
  border-radius: 15px;
  color: #fff;
  list-style: none;
  background-size: cover;
  cursor: pointer;
}

.block-second li:first-child p {
  margin: 10px;
  font-size: 1.3rem;
  text-align: end;
}

.block-second ol:hover li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-second li:nth-child(2) {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #00000022;
}
.block-second li:nth-child(2) p {
  margin: 10px auto;
  font-size: 1rem;
  text-align: center;
}

/*------------------*/

/*-----commentation------*/
.commentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.block-commentation {
  margin: 30px 0;
}

.block-commentation td {
  height: 35vh;
  width: 300px;
  padding: 0 0 0 0;
  border-radius: 15px;
  background-color: #802045;
  background-size: cover;
}

.block-commentation img {
  height: inherit;
  width: inherit;
  border-radius: 15px;
}

.block-commentation-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 0;
  margin: 0 0 0 40px;
}

.block-commentation-comment h1 {
  font-size: 5vh;
  margin: 20px 0;
  color: var(--color-tomato);
}

.block-commentation-comment p {
  font-size: 2.5vh;
  margin: 5px 0;
}

.block-commentation-goto {
  border-radius: 30px;
  background-color: var(--color-teal);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 20px;
  margin: 20px 0;
  cursor: pointer;
}

.block-commentation-goto p {
  font-size: 1.2rem;
  color: #fff;
}
/*------------------*/

/*-----Random------*/
.block-random {
  margin: 30px;
}

.random-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 2vh 10vw;
  font-size: 1.2vw;
  color: var(--color-teal);
}

.random-title p {
  margin: 0;
}

.random-title button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 10px;
  border: 0;
  background-color: #00000000;
  fill: var(--color-hunter);
}

.random-title button:active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.random-title svg {
  width: 20px;
  height: 20px;
}

.ul-random {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.ul-random ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1rem;
  padding: 20px 0;
  height: 50px;
}

.ul-random li:first-child {
  width: 100px;
  font-weight: 1000;
  margin: 0 30px 0 0;
  background-color: var(--color-tomato);
}

.ul-random li {
  border-radius: 30px;
  text-align: center;
}

.ul-random li:not(:first-child):hover {
  color: #fff;
  font-weight: 700;
}

.ul-random li:not(:first-child) {
  list-style: disc;
  margin: 0 50px;
  cursor: pointer;
  width: 100px;
}

/*------------------*/

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20vh;
  background-color: var(--color-hunter);
  color: var(--color-tomato);
}
/*-----Random------*/
/*------------------*/
.visualbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  border: 10px double #f8f0f2;
  border-radius: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #802045;
}

.continentButton {
  height: 100%;
  border: 0;
  padding: 0 15px;
  background-color: #ffffff00;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.continentButton:hover {
  font-weight: bold;
}

.swapView {
  position: absolute;
  top: 20px;
  right: 50px;
  border: 0;
  background-color: #ffffff00;
  color: #ffffff;
}

.swapView:hover {
  color: #d3cacc;
}

.viewAllbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  background-color: #802045;
}

.link {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #d3cacc;
}

.link_svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}

.link_svg:hover g {
  fill: #d3cacc;
}

@media screen and (max-width: 767px) {
  .container {
    margin: 150px 0 0 0;
    height: 100%;
  }
  .visualbox {
    width: auto;
  }
  .continent svg {
    width: 200px;
    height: 350px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .visualbox {
    width: auto;
  }
  .continent svg {
    width: 500px;
    height: 500px;
  }
}
