div{
    font-size: 12px;
}

a{
    display:block;
    font-size: 12px;
    text-decoration: none;
    color:#000000;
    margin: 5px 0;
}

a:hover{
    color: #00b9b9;
}

h1{
    width: 150px;
}

.changeLang{
    border: 0;
    background-color: #00000000;
    position: absolute;
    top:5px;
    right: 5px;
}

.changeLang:active{
    color: #00b9b9;
}

.parent{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 700px;
    height: 500px;
    border: 3px solid red;
    flex-wrap: wrap;
    padding: 10px;
}

.changeC{
    width: 700px;
    margin:0 auto;
}

.alpha{
    width: 120px;
}