.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px auto;
    height:100%;
    white-space: pre-wrap;
}


.container{
    display: flex;
    padding: 0;
    margin: 0 auto;
}

.map{
    height: 601px;
    width: 600px;
    border: 5px solid #802045;
}
.mainimage{
    width: 600px;
    height: 500px;
    border-bottom: 1px solid;
    cursor: pointer;
}
.mainimagebox{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.imagebox{
    width: 200px;
    height: 100px;
}
.imagebox:hover{
    filter: sepia(50%) grayscale(50%);
}

.popup_window{
    display: none;
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.85);
}
.popup_img{
    max-width: 1000px;
    max-height: 1000px;
    object-fit: contain;
}
.popup_button{
    border: 0;
    background-color: #00000000;
    color:#ffffff;
    margin: 10px 0;
}
.popup_button:hover{
    font-weight: bold;
}
.popup_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.info{
    width: 350px;
    text-align: center;
    margin: 0 20px;
    line-height: 250%;
}
.infobox{
    display: flex;
    margin: 10px 0;
    border: 2px solid #802045;
    border-radius: 15px;
}
.infobox div{
    min-height:30px;
    width: 50%;
}
.infoname{
    border-radius: 10px 0 0 10px;
    background-color:#802045;
    color:#ffffff;
    font-weight: bold;
}
.infodata{
    padding:0 5px;
    font-weight:600;
}



.alarm{
    border: 2px solid #802045;
    border-radius: 15px;
}
.alarminfo{
    border-bottom: 1px solid #802045;
    border-radius: 10px 10px 0 0;
    background-color: #802045;
    color: #ffffff;
    font-weight: bold;
    height:30px;
}
.alarmtext{
    border-bottom: 2px solid #802045;
    font-weight: bold;
}
.alarmdetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.alarmlevel{
    position: relative;
    height: 100px;
    width:100px;
    margin: 10px 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    line-height: 80px;
}
.alarmlevel:hover{
    border: 2px solid #000000;
}
.alarmlevel a{
    margin: 0;
    position:absolute;
    height: 100%;
    width: 100%;
}
.alarmlist{
    padding:20px 0;
    text-align: center;
    list-style: none;
    line-height: normal;
}
.clickimage{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.600);
    width:100%;
    height:100%;
    top:0;
    z-index: 99;
}