body,
html {
  margin: 0;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  background-color: #d0d3c5;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-background: #d0d3c5;
  --color-cerilean: #56b1bf;
  --color-teal: #08708a;
  --color-tomato: #d73a31;
  --color-hunter: #032b2f;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
